.container{
	width: 1090px;
	margin: 0 auto;
	padding: 0 15px;
	margin-left: 207px;
}
body{
	font-family: 'Roboto';
	overflow-x:hidden; 
}
html{

	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
