.button{
	padding: 15px 31px;
	background: #FFD338;
	border: 1px solid #FFD338;
	border-radius: 8px;
	margin-bottom: 142px;
	transition: background-color 0.2s ease-in;
}
.button:hover{
	padding: 15px 31px;
	background: #c29c13;
	border: 1px solid #c29c13;
	border-radius: 8px;
	margin-bottom: 142px;
}
