.features {
}
.features__title {
	font-size: 55px;
	line-height: 62px;
	letter-spacing: 1px;
	text-align: center;
	color: #222222;
}
.features__row {
	display: flex;
	gap: 30px;
}
.features__column-one {

}
.features__column-content-one {
	margin-top: 89px;
	max-width: 320px;
	max-height: 76px;
	margin-bottom: 180px;
}
.features__column-content-two{
	max-width: 319px;
	max-height: 101px;
}
.features__column-one h4{
	margin-bottom: 8px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	text-align: center;
	color: #222222;
}
.features__column-one p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #555555;
}
.features__column-one svg{
	margin-bottom: 17px;
	display: block;
   margin-left: auto;
   margin-right: auto; 
}

.svg__features{
	fill: #eeee;
	transition: background-color 0.3s ease-in;
}
.svg__features:hover{
	fill: #FFD338;
}

.features__column-two {
}

.features__column-content-three{
	margin-top: 89px;
	max-width: 308px;
	max-height: 76px;
	margin-bottom: 180px;

}
.features__column-content-four{
	max-width: 317px;
	max-height: 51px;
}
.features__column-two h4{
	margin-bottom: 8px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	text-align: center;
	color: #222222;
}

.features__column-two p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #555555;
}

.features__column-two svg{
	margin-bottom: 17px;
	display: block;
   margin-left: auto;
   margin-right: auto;
}



.features__column-three {
}

.features__column-content-five{
	margin-top: 89px;
	max-width: 308px;
	max-height: 76px;
	margin-bottom: 180px;
}

.features__column-content-six{
	max-width: 316px;
	max-height: 101px;
}

.features__column-three h4{
	margin-bottom: 8px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	text-align: center;
	color: #222222;
}

.features__column-three p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #555555;
}

.features__column-three svg{
	margin-bottom: 17px;
	display: block;
   margin-left: auto;
   margin-right: auto;
}