.home {
	height: 705px;
	position: relative;
}
.home__row {
	display: flex;
	gap: 55px;
}
.home__text{
	margin-left: 207px
}
.home__text h1{
	margin-bottom: 27px;
	max-width: 438px;
	max-height: 300px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 68px;
	line-height: 75px;
	letter-spacing: 1px;
	color: #222222;	
}
.home__text p{
	margin-bottom: 31px;
	max-width: 401px;
	max-height: 84px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #555555;
}
.home__button {
	padding: 15px 31px;
	background: #FFD338;
	border: 1px solid #FFD338;
	border-radius: 8px;
	margin-bottom: 142px;
}

.home__img-row{
	display: flex;
}
.home__img-aliciawebb {
	margin-bottom: 108px;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 700px;

}
.home__img-frame {
	margin-bottom: 155px;
	position: absolute;
	top: -67px;
	left: 881px;
}

@media (max-width: 1439px){
	.home__text{
		margin-left: 10px
	}
	.home__img-aliciawebb {
		margin-bottom: 108px;
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 500px;
	
	}
	.home__img-frame {
		margin-bottom: 155px;
		position: absolute;
		top: -67px;
		left: 681px;
	}

}