.instruction {
	margin-bottom: 95px;
	background: url(../img/instruction/fone.svg) 0 0 no-repeat,url(../img/instruction/fone2.svg) 0 0 no-repeat;
	height: 1887px;
	
}
.instruction__header-row {
	display: flex;
	gap: 40px;
	
}
.instruction__title {
	padding-top: 192px;
}
.instruction__title-h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 52px;
	line-height: 118%;
	text-align: center;
	letter-spacing: 1px;
	color: #222222;
}
.instruction__title-p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	text-align: center;
	color: #555555;
}

.instruction__img1 {
	margin-top: 100px;
}

.instruction__header-description {
	margin-top: 168px;

}
.instruction__header-description h4{
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 22px;
	line-height: 130%;
	color: #222222;
}
.instruction__header-description p{
	width: 39%;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #555555;
}


.instruction__center-row {
	position: relative;

}
.instruction__img2 {
	position: absolute;
	flex: 0 0 50%;
	max-height: 850px;
	top: -40%;
	left: 8%;
}

.instruction__center-description {
	margin-left: 8%;
}
.instruction__title-center {
	padding-top: 365px;
	font-weight: 400;
	font-size: 22px;
	line-height: 130%;
	color: #222222;
}
.instruction__text-center {
	margin-top: 8px;
	width: 29%;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: #555555;
}


.instruction__footer-row {
	display: flex;
	position: relative;
	gap: 40px;
}
.instruction__footer-description {
	margin-top: 93px;
	margin-left: 38%;
}
.instruction__title-footer {	
	font-size: 22px;
	line-height: 130%;
	text-align: right;
	color: #222222;
	
}
.instruction__text-footer {
	font-size: 18px;
	line-height: 140%;
	text-align: right;
	color: #555555
}
.instruction__img3 {
	position: absolute;
	top: -169%;
	left: 71%;
}