.management{
	background: url('/img/management/fone3.svg') 0 0 no-repeat;
	height: 1887px;
	}
	.management__title h2{
	padding-top: 28px;
	padding-bottom: 25px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 62px;
	text-align: center;
	letter-spacing: 1px;
	color: #222222;
		
	}
	.management__title p{
	margin-bottom: 99px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #555555;
	}

	.management__row {
	display: flex;
	gap: 40px;
	}
	.management__img1 {
	max-width: 270px;
	max-height: 530px;
	margin-left: 207px;
	position: relative;
	z-index: 1;
	}
	.management__management-one h4{
	margin-top: 78px;
	margin-bottom: 7px;
	max-width: 265px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	color: #222222;
	}
	.management__management-one p{
	max-width: 304px;
	max-height: 101px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #555555;
	
	}
	.management__img2 {
	position: relative;
	top: -214px;
	left: 295px;
	z-index: 2;
	}
	.management__two-row{
	display: flex;
	margin-top: -175px;
	}
	.management___content-two {
	position: relative;
	}
	
	.management__title-two {
	margin-bottom: 8px;
	margin-left: 295px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	color: #222222;
	}
	.management__text-two {
	margin-left: 295px;
	max-width: 327px;
	max-height: 101px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #555555;
	}
	
	.management__title-three {
	margin-bottom: 8px;
	margin-top: 100px;
	margin-left: 634px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 29px;
	text-align: right;
	color: #222222;
	}
	.management__text-three {
	margin-left: 597px;
	max-width: 326px;
	max-height: 76px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #555555;
	}
	.management__img3 {
	position: absolute;
	top: 3895px;
	left: 973px;
	z-index: 2;
	
	}