.pricing {
	margin-top: 322px;
	max-width: 1440px;
	max-height: 471px;
	background: url(../img/prising/foneprising.svg);
}

.pricing__title {
	padding-top: 29px;
	padding-bottom: 69px;
	font-size: 55px;
	line-height: 62px;
	text-align: center;
	letter-spacing: 1px;
	color: #222222;
}
.pricing__row {
	display: flex;
	gap: 39px;
	padding-bottom: 97px;
	margin-left: 146px;
}
.pricing__calls {
	display: block;
	background: #222222;
	box-shadow: 4px 4px 0px #FFD338;
	border-radius: 30px;
	min-width: 348px;
	min-height: 214px;
}
.pricing__calls:hover{
	display: block;
	background: #fec702;
	box-shadow: 4px 4px 0px #000000;
	border-radius: 30px;
	min-width: 348px;
	min-height: 214px;
	transition: background-color 0.3s ease-in;
}
.calls__title {
	margin-top: 39px;
	margin-bottom: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}
.calls__row {
	display: flex;
	gap: 16px;
}
.calls__text-one {
	margin-left: 76px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration-line: line-through;
	color: #666666;
}
.calls__text-two {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
}
.calls__text-footer {
	margin-top: 26px;
	margin-bottom: 39px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #999999;
}
.pricing__channels {
	display: block;
	background: #222222;
	box-shadow: 4px 4px 0px #FFD338;
	border-radius: 30px;
	min-width: 348px;
	min-height: 214px;
}
.pricing__channels:hover{
	display: block;
	background: #fec702;
	box-shadow: 4px 4px 0px #000000;
	border-radius: 30px;
	min-width: 348px;
	min-height: 214px;
	transition: background-color 0.3s ease-in;
}
.channels__title {
	margin-top: 39px;
	margin-bottom: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
}
.channels__text {

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFFFFF;
}
.channels__footer {
	margin-top: 26px;
	margin-bottom: 39px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #999999;
}