.ready {
	margin-top: 241px;
}
.ready__title {
	margin-bottom: 26px;
	font-size: 56px;
	line-height: 62px;
	text-align: center;
	color: #222222;
}
.ready__text {
	margin-bottom: 33px;
	max-width: 429px;
	max-height: 56px;
	margin-left: 30%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #555555;
}
.ready__button {
	margin-left: 42%;
}







@media (max-width: 1440px){
.container{
	margin-left: 207px;
}

}

//-----//

@media (max-width: 1199px){

.container{
	margin-left: 30px;
}

}

//-----//

@media (max-width: 992px){

.container{
	margin-left: 30px;
}

}

//-----//

@media (max-width: 768px){

.container{
	margin-left: 20px;
}

}

//-----//

@media (max-width: 480px){


.container{
	margin-left: 5px;
}

}

//-----//

@media (max-width: 320px){

}