.ready {
	margin-top: 241px;
}
.ready__title {
	margin-bottom: 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 62px;
	text-align: center;
	color: #222222;
}
.ready__text {
	margin-bottom: 33px;
	max-width: 429px;
	max-height: 56px;
	margin-left: 508px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #555555;
}
.ready__button {
	margin-left: 626px;
}